@model WebApplication3.Models.UsuarioModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Usuario</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="usuario" class="control-label">Usuario</label>
                <input asp-for="usuario" class="form-control" />
                <span asp-validation-for="usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="contrasenia" class="control-label">Contraseña</label>
                <input asp-for="contrasenia" class="form-control" />
                <span asp-validation-for="contrasenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="Roles">Roles:</label>
                <select multiple id="Roles" name="Roles" class="form-control">
                    @foreach (var role in ViewBag.Roles)
                    {
                        <option value="@role.id">@role.nombre</option>
                    }
                </select>
                <span asp-validation-for="usuarioRoles" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
